<li>
  {{taco_name}}
  <button class="btn btn-primary change-gromph" data-id="{{id}}" data-newgromph="{{gromph}}">
    {{#if gromphed}}Put back on menu{{else}}Gromph that taco!{{/if}}
  </button>
</li>
